<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<form action="save" method="post">
    <div class="container">
        <h1>Booking</h1>
        <hr>


        <div class="row">
            <div class=" hideOut">
                <h4 th:text="${success}"></h4>
            </div>

            <div class=" hideOut">
                <h4 th:text="${failure}"></h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <label for="outlet"><b>Select outlet</b></label>
                <select name="outlet" id="outlet">
                    <option value="Moodhu Grill">Moodhu Grill</option>
                    <option value="Cielo">Cielo</option>
                    <option value="Umi">Umi</option>
                    <option value="Umi Teppanyaki">Umi Teppanyaki</option>
                </select>
            </div>
            <div class="col-sm-6">
                <label for="villaNo"><b>Villa Number</b></label>
                <input type="text" placeholder="Enter Villa Number" name="villaNo" id="villaNo" required>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <label for="guestName"><b>Guest Name</b></label>
                <input type="text" placeholder="Enter Guest Name" name="guestName" id="guestName" required>
            </div>

            <div class="col-sm-6">
                <label for="mealPlan"><b>Meal Plan</b></label>
                <input type="text" placeholder="Enter Meal Plan" name="mealPlan" id="mealPlan" required>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <label for="noOfPax"><b>No of Pax</b></label>
                <input type="number" placeholder="Enter No of Pax" name="noOfPax" id="noOfPax" required>
            </div>

            <div class="col-sm-6">
                <label for="noOfTables"><b>No of Tables</b></label>
                <input type="number" placeholder="Enter No of Tables" name="noOfTables" id="noOfTables" required>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <label for="resvDate"><b>Reserve Date</b></label>
                <input type="datetime-local" placeholder="Enter Reserve date" name="resvDate" id="resvDate" required>
            </div>
            <div class="col-sm-6">
                <label for="bookedBy"><b>Booked By</b></label>
                <input type="text" placeholder="Enter Booked by" name="bookedBy" id="bookedBy" required>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <label for="bookedDt"><b>Booked DT</b></label>
                <input type="text" placeholder="Enter Booked DT" name="bookedDt" id="bookedDt" required>
            </div>
            <div class="col-sm-6">
                <label for="foodAllergy"><b>Food allergy</b></label>
                <select name="foodAllergy" id="foodAllergy">
                    <option value="Peanuts">Peanuts</option>
                    <option value="Celery / Celeriac">Celery / Celeriac</option>
                    <option value="Gluten">Gluten</option>
                    <option value="Crustaceans">Crustaceans</option>
                    <option value="Eggs">Eggs</option>
                    <option value="Crustaceans">Crustaceans</option>
                    <option value="Fish">Fish</option>
                    <option value="Lupin">Lupin</option>
                    <option value="Lactose intolerance">Lactose intolerance</option>
                    <option value="Mollusks">Mollusks</option>
                    <option value="Mustard">Mustard</option>
                    <option value="Tree Nuts">Tree Nuts</option>
                    <option value="Mustard">Mustard</option>
                    <option value="Monosodium Glutamate">Monosodium Glutamate</option>
                    <option value="Sesame">Sesame</option>
                    <option value="Soya">Soya</option>
                    <option value="Sulphurdioxide">Sulphurdioxide</option>
                    <option value="ALMOND">ALMOND</option>
                    <option value="APPLE">APPLE</option>
                    <option value="ARIGU LEAF">ARIGU LEAF</option>
                    <option value="BANANA">BANANA</option>
                    <option value="BEEF">BEEF</option>
                    <option value="BERRY">BERRY</option>
                    <option value="CHICKPEAS">CHICKPEAS</option>
                    <option value="CINNAMON">CINNAMON</option>
                    <option value="COCONUT">COCONUT</option>
                    <option value="AVOCADO">AVOCADO</option>
                    <option value="HEMP">HEMP</option>
                    <option value="COD">COD</option>
                    <option value="CORRIANDER">CORRIANDER</option>
                    <option value="CRAB">CRAB</option>
                    <option value="G CHILLI">G CHILLI</option>
                    <option value="GARLIC">GARLIC</option>
                </select>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <label for="remarks"><b>Remarks</b></label>
                <input type="text" placeholder="Enter Remarks" name="remarks" id="remarks" required>
            </div>
        </div>

        <button type="submit" class="registerbtn">Book</button>
    </div>
</form>


<script th:inline="javascript">

      $(document).ready(function() {
  $('.hideOut').fadeOut(5000);
});




</script>

</body>
</html>