<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Booked list:</h2>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Outlet</th>
            <th>Villa No</th>
            <th>Guest Name</th>
            <th>Meal Plan</th>
            <th>No of Pax</th>
            <th>No of Tables</th>
            <th>Reservation Date</th>
            <th>Booked By</th>
            <th>Booked Dt</th>
            <th>Food Allergy</th>
            <th>Remarks</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bookings: ${data}">
            <td th:text="${bookings.outlet}"/>
            <td th:text="${bookings.villaNo}"/>
            <td th:text="${bookings.guestName}"/>
            <td th:text="${bookings.mealPlan}"/>
            <td th:text="${bookings.noOfPax}"/>
            <td th:text="${bookings.noOfTables}"/>
            <td th:text="${bookings.resvDate}"/>
            <td th:text="${bookings.bookedBy}"/>
            <td th:text="${bookings.bookedDt}"/>
            <td th:text="${bookings.foodAllergy}"/>
            <td th:text="${bookings.remarks}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>